:root {
    --blue: #12263A;
    --brown: #846C5B;
    --tan: #CEA07E;
    --yellow: #EDD9A3;
    --pale: #E2E8C0;
}

* {

    box-sizing: border-box

}

body {
    background-color: var(--pale);
    font-family: Arial, Helvetica, sans-serif;
} 

#header {
    background-color: var(--blue);
    color: var(--yellow);
    border: solid var(--tan) 3px;    
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    padding: 5px;
}

nav {
    justify-content: flex-end;
    display: flex;   
}

.nav_item {  
    color: var(--yellow);
    padding: 10px;
    font-weight: bold;    
}

.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--blue);
    background-color: var(--tan);
    padding: 10px;
    margin: 5px, 0    
}



#headshot {
    display: flex;
    height: 150px;
    width: auto;

}

#banner_text {
    display: flex;
    font-weight: bolder;
    font-size: 3rem;
    
}

main {
    display: flex;
    flex-wrap: wrap;
}





.bio {
    display: inline-block;
    background-color: var(--blue);
    color: var(--yellow);
    border: solid var(--tan) 3px;
}

.bio h2 {
    
    margin-top: 10px;
    font-size: 2rem;
    padding: 5px;
    width: 100%;
}

.bio p {
    flex-wrap: wrap;
    padding: 5px;
}

.sub_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--blue);
    background-color: var(--tan);
    padding: 10px;
    margin: 5px, 0
        
}

.sub_header_text {
    display: flex;
    font-weight: bolder;
    font-size: 3rem;
}



.flex-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

main img {
    min-height: 200px;
    max-height: 700px;
    min-width: 200px;
    max-height: 700px;
    height:auto;
    width: auto;
}


.project_item1 img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px
    
}

.project_item img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
    height: 400px;
    max-height: 500px;
    min-height: 400px;
    min-width: 300px;
    min-height: 300px;
}

#project_1 {
    display: flex;
    order: 1;
    flex-wrap: wrap;
}   
    
#project_2 {
    display: flex;
    order: 2;
    flex-wrap: wrap;
    
    
}

#project_3 {
    display:flex;
    order: 3;
    flex-wrap: wrap;
}





.footer {
    background-color: var(--blue);
    color: var(--yellow);
    border: solid var(--tan) 3px;
    display:flex;
    justify-content: flex-end;
    margin-top: 50px    
    
}



#contact_info {
    
    font-size: 3rem;
    font-weight: 700;
    padding: 5px;
}

.contact_item {
    
    color: var(--yellow);
    padding: 10px;
    font-weight: bold;
    display: flex; 
    
}



